/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/administrator
/public/midwife
/public/patient
/public/assets
/public/registerSW.js
/public/site.webmanifest
/public/sw.js
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
