::-webkit-scrollbar-thumb {
  background-color: hsl(var(--p) / var(--tw-bg-opacity));
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: .7;
}

input {
  box-shadow: none !important;
}
